.venv/
__pycache__/
*.pyc
.env
.vscode/
.idea/
data/raw/*
data/bronze/*
data/silver/*
data/gold/*
!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
spark-warehouse/
metastore_db/
*.log
